@font-face {font-family:"STARWARS";src:url("../css/STARWARS.eot") format("eot"),url("../css/STARWARS.woff") format("woff"),url("../css/STARWARS.ttf") format("truetype"),url("../css/STARWARS.svg") format("svg");font-weight:normal;font-style:normal;}

body {
    background-image: url(../images/starwarsbg.jpg);
    background-color: #cccccc;
    background-size: 100% auto; 
}

.jumbotron {
    background-image: url(../images/starwarsbg.jpg);
    background-color: #cccccc;
    background-size: 100% auto;
    margin: 40px;
}

h1, h2, h3, #start, #start-over, #answer-button {
    font-family: "STARWARS";
    color: #F9D71C;
}

#answer-button {
    width: 120px;
}